body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgrey;
}

#root {
  background-color: #ffffff;
  //background-color: lightgreen;
  max-width: 500px;
  height: 700px;
  margin-top: 6vh;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;

}

@media (max-width: 450px) {
  #root {
    margin-top: 0;
    height: 100vh;

  }
}

#app {
  width: 100%;
}
